<!DOCTYPE html>
<html lang="en">
<head>
	<title>Domestic Science: Adventures in Data and Science</title>
	<meta name="author" content="Ross Dalziel aka @cheapjack">
	<meta name="description" content="Domestic Science are artists explore the data and science of everyday life using interactive non-fiction, text adventures in art, unpopular science and technology">
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
-->
    <link href="/my-jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/index.html">Home</a>
                    </li>
                    <!--<li role="presentation" class="active"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>-->
                </ul>
            </nav>
            <h3 class="text-muted">DomesticScience</h3>
        </div>

 
        <div class="jumbotron">
            <h2>Recent Games</h2>
            <p class="lead">
	<p><strong>Domestic Science</strong> have made a few <strong>interactive non-fiction</strong> games mainly using <a target="_blank" href="http://twinery.org">Twine</a> and are working on prototype <strong>Internet of Things</strong> games distributed on <strong>EPS8266 boards</strong> and <strong>Raspberry Pi's</strong> in 2017.<br>You can play our recent games below. Some are quite involved, some quick experiments made in workshops and to document things we've done. <strong>Northern Powerhouse</strong> and <strong>Abandon Hope</strong> were made collaboratively with young people, commissioned by <a href="http://re-dock.org/" target="_blank">Re-Dock</a> and <a target="_blank" href="http://www.octopuscollective.org/">Octopus Collective</a>.<br> Have fun and get in touch if you want to know more.</p>
	<!--<p>You can <a target="_blank" href="http://slyrabbit.net/wray-text-adventure/">play the game</a> that <strong>Glenn</strong> made at <a target="_blank" href="https://lpoolmakefest.org/">Liverpool MakeFest</a> this weekend <strong>Saturday 25th June 2016</strong>, you just need a <a target="_blank" href="https://www.eventbrite.co.uk/e/liverpool-makefest-2016-tickets-20968525424">Ticket</a> and to <a target="_blank" href="https://lpoolmakefest.org/portfolio/domesticscience-interactive-non-fiction/">find us</a></p>-->

            <p><a class="btn btn-lg btn-success" href="/walter.html" role="button">ArtGym</a>
            <p><a class="btn btn-lg btn-success" href="http://soundnetwork.org.uk/misc/cheapjack/BlackCombe/Bailie/play.html" role="button">A Black Coombe Adventure<br>Abandon Hope</a>
            <p><a class="btn btn-lg btn-success" href="http://drinkme.textadventuretime.co.uk/" role="button">Beba-Me | Drink-Me</a>
            <p><a class="btn btn-lg btn-success" href="http://textadventuretime.co.uk/play.html" role="button">Northern Powerhouse</a>
            <p><a class="btn btn-lg btn-success" href="/wray.html" role="button">The Wray Castle<br>Text Adventure</a>
            <!--<p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Find Out More</a>-->
            </p>
        </div>
<!-- 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Who is in space today?</h4>
                <p>
		<ul>
			<p>Well according to <a href="http://open-notify.org/Open-Notify-API/People-In-Space/">Open Notify</a> these people are up there:</p>
			{% for name in names %}
			<li>{{ name }}</li>
			{% endfor %}
		</ul>

           <h4>Liverpool Weather</h4>
                <p>
		<ul>
			{% for description in weather %}
			<p>Well, from <a href="http://openweathermap.org/">what people are saying here</a> it looks like:</p>
			<li>{{ description }}</li>
			{% endfor %}
		</ul>
-->
</p>
<!--<h4>Sensor 1</h4>
		<p>Insert Data Here</p>
--></div>                
	</div>

 
        </div>
 
        <footer class="footer">
            <!--<p>&copy; <a href="http://portforward.tumblr.com">Portforward 2016</a></p>-->
<img src="/DScienceLogoSmall.jpg" style="margin-left: auto; margin-right: auto; display: block;">      
</div>
</footer>
 
    </div>
</body>
 
</html>
